.Navigation {
  margin: 10px 40px;
}

.link {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-weight: 500;
  color: black;
  font-size: 18px;
}

.activlink {
  color: rgb(64, 64, 182);
}
